.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-image: url("../assets/iceberg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
